{% extends "base.xhtml" %}
{% block title %}{{ escape(handler.settings["game_title"]) }} | {{ location['name'] }}{% end %}
{% block header %}<a href="?action=sayall">[{{ _('Say all') }}]</a><a href="?action=save">[{{ _('Save') }}]</a><a href="?action=profile">[{{ _('Profile') }}]|<a href="?action=logout">[{{ _('Logout') }}]</a><br/>{{ life }}/{{ life_max }} | {{ mana }}/{{ mana_max }}{% end %}
{% block messages|message %}{% end %}
{% block body %}
    <hr width="100" align="left">
    {% if stmp %}
    {% for name in stmp %}
        {% if name['name'] != player %}
            <p><a href="?action=select&target={% if 'item' in name %}{{ name['item'] }}{% else %}{{ name['name'] }}{% end %}">{{ name['name'] }}</a></p>
        {% end %}
    {% end %}
    {% end %}
    <hr width="100" align="left">
    {% for exit,name in location['exits'].items() %}
        <p><a href="?action=go&path={{ exit }}">{{ name }}</a></p>
    {% end %}
{% end %}
{% block bottom %}{% end %}